.values__container {
  background-color: #186f64;
  color: #f8f8f8;
  margin-top: 300px;
}

.values__container h2 {
  font-size: 25px;
}

.values__core--parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
  margin: 80px 0;
}

.values__core--child {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 14px 15px;
  border-radius: 5px;
  transition: all ease-in-out 0.5s;
}

.values__core--child:hover {
  transform: scale(1.1);
}

.values__core--child h2 {
  font-size: 18px;
  font-weight: 300;
}

.values__parent {
  display: flex;
  align-items: center;
  margin-top: 40px;
  gap: 60px;
}

.values__child-heading {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.values__child-heading h3 {
  margin-right: 7px;
}

.values__core--child img {
  width: 20%;
}

.values__child-heading img {
  width: 5%;
}

.values__parent p {
  font-size: 16px;
}

@media screen and (max-width: 680px) {
  .values__container {
    margin-top: 80px;
  }

  .values__container h2 {
    font-size: 22px;
  }

  .values__core--parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 30px;
    margin: 60px 0;
  }
  
  .values__core--child {
    gap: 15px;
  }
  
  .values__core--child h2 {
    font-size: 18px;
    font-weight: 300;
  }

  .values__parent {
    display: block;
    margin-top: 30px;
  }

  .values__child-left {
    margin-bottom: 35px;
  }

  .values__child-heading {
    display: flex;
    align-items: center;
    margin-bottom: 13px;
  }

  .values__child-heading h3 {
    margin-right: 7px;
  }

  .values__child-heading img {
    width: 8%;
  }

  .values__parent p {
    font-size: 14px;
  }
  
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  .values__container {
    margin-top: 100px;
  }

  .values__child-heading img {
    width: 8%;
  }
}
