.industries__container {
  text-align: center;
}

.industries__container h2 {
  font-size: 23px;
  margin-bottom: 10px;
}

.industries__container p {
  font-size: 15px;
}

.industries__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 30px;
  margin-top: 60px;
}

.parent__industries--child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.parent__industries--child img {
  margin-bottom: 10px;
  width: 15%;
}

.parent__industries--child h3 {
  font-size: 18px;
  margin-top: 10px;
}

.parent__industries--child p {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

@media screen and (max-width: 680px) {
  .industries__container h2 {
    font-size: 20px;
  }

  .industries__container p {
    font-size: 15px;
  }

  .industries__content {
    display: block;
  }

  .parent__industries--child {
    margin-bottom: 36px;
  }

  .parent__industries--child img {
    margin-bottom: 5px;
    width: 20%;
  }

  .parent__industries--child h3 {
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 700px) {
}
