.blog__home--container {
  position: relative;
}

/* .blog__background {
      position: absolute;
      top: 20%;
      right: 0;
      width: 50%;
      align-items: center;
  } */

.blog__home--top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.heading-main-blog {
  font-size: 23px;
  font-weight: 500;
}

.blog__home--bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 40px;
}

.heading-blog-category {
  font-size: 14px;
  margin: 10px 0;
}

.heading-blog-title {
  font-size: 22px;
  margin-bottom: 10px;
}

.blog--paragraph {
  font-size: 15px;
  margin-bottom: 20px;
}

@media screen and (max-width: 680px) {
  .blog__home--top {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }

  .blog__home--top button {
    display: none;
  }

  .blog__home--bottom {
    display: block;
  }

  .blog__home--item {
    margin-bottom: 60px;
  }

  .heading-main-blog {
    font-size: 18px;
  }

  .heading-blog-title {
    font-size: 17px;
  }

  .blog--paragraph {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 700px) {
  .blog__home--bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 60px;
  }
}
