.about__home--container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 300px;
}

.about__home--left {
  display: flex;
  align-items: center;
  width: 50%;
  position: relative;
}

.about__home--right {
  width: 61%;
  /* width: 50%; */
  margin-left: -100px;
  position: relative;
}

.image-top,
.about__img-middle img {
  width: 40%;
}

.image-top {
  position: absolute;
  top: 0;
  left: 30%;
}

.about__img-bottom img {
  position: absolute;
  top: 90%;
  left: 10%;
  width: 38%;
}

.splash-img {
  position: absolute;
  top: 0;
  left: -20%;
}

.heading--about {
  font-size: 30px;
  margin-bottom: 20px;
}

.paragraph-about {
  font-size: 16px;
  line-height: 28px;
}

@media screen and (max-width: 1024px) {
  .about__home--container {
    display: block;
    margin-bottom: 0;
  }

  .about__home--left {
    width: 100%;
    margin-bottom: 100px;
  }

  .about__home--right {
    width: 100%;
    margin-left: 0;
  }

  .image-top,
  .about__img-middle img {
    width: 40%;
  }

  .image-top {
    position: absolute;
    top: 0;
    left: 40%;
  }


  .about__img-bottom img {
    /* position: absolute;
    top: 90%;
    left: 30%;
    width: 38%; */
    display: none;
  }

  .splash-img {
   display: none;
  }

  .heading--about {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .paragraph-about {
    font-size: 14px;
  }
}
